body {
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

h1{
  font-size: 4rem;
  margin: 1%;
}

header {
  display: flex;
  justify-content: space-between;
}

form {
  margin: 1%;
  align-self: flex-end;
}

form input {
  justify-self: flex-end;
  font-size: 1.25rem;
}

#buttons {
  flex-wrap: wrap;
  display: flex;
  padding: 1%;
}

#buttons h2 {
  align-self: flex-start;
  width: 100%
}
#buttons button{
  font-size: 1rem;
  max-width: 50%;
  margin: 1%;
  align-self: flex-end;
}

