body {
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

h1{
  font-size: 3.75rem;
  margin: 1%;
  align-self: flex-end
}

header {
  display: flex;
  justify-content: space-between;
}

form {
  margin: 1%;
  align-self: flex-end;
}

form input {
  font-size: 1.25rem;
  font-family: 'PT Serif', serif;
  justify-self: flex-end;
}

#holder {
  display: flex;
  padding: 1%;
  flex-wrap: wrap;
}

#holder h2 {
  align-self: flex-start;
  width: 100%
}

#prevSearches{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-self: flex-end;
}

#prevSearches button{
  font-size: 1rem;
  font-family: 'PT Serif', serif;
  width: 48%;
  margin: 1%;
  align-self: flex-end;
  border-radius: 5px;
}

